{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load leaflet_tags %}

{% block extra_js %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block content %}
<div id="content" class="grid-container">
    <!--{% include "utils/includes/social_share.html" %}-->
    {% include "projects/includes/project_header.html" %}

    <!-- Start Logo Map Row -->
    <div class="grid-x grid-margin-x">

      <!-- Project Image -->
      <div class="cell large-4 show-for-large cell">
          {% if self.feed_image %}
              {% image self.feed_image fill-300x300 %}
          {% endif %}
      </div>
      <!-- End Image -->

      <!-- Project Area Map -->
      <div class="cell large-8 cell">
          {% leaflet_map "main" callback="main_map_init" %}
          {% include "projects/includes/project_map.html" %}

      </div>
      <!-- End Map -->

    </div>
    <!-- End Logo Map Row -->

    <!-- HR -->
    <div class="grid-x"><hr/></div>

    <!-- Start Content Row -->
    <div class="grid-x">

      <!-- Start Column -->
      <div class="cell">

        <!-- Tab List -->
        <ul class="tabs" data-tabs id="example-tabs">
          <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Description</a></li>
          {% if self.related_links.all %}
          <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Datasets</a></li>
          {% endif %}
        </ul>
        <!-- End Tab List -->

        <!-- Tab  Contents -->
        <div class="tabs-content" data-tabs-content="example-tabs">
          <!-- Tab Panel 1 -->
          <div class="tabs-panel is-active" id="panel1">
            {% include "projects/includes/project_body.html" with body=self.body only %}
          </div>
          <!-- Tab Panel 2 -->
          <div class="tabs-panel" id="panel2">
            {% include "projects/includes/project_datasets.html" with datasets=self.related_links.all only %}
          </div>
        </div>
        <!-- End Tab Contents -->

      </div>
      <!-- End Column -->

    </div>
    <!-- End Content Row -->
</div>
{% endblock %}
