{% load wagtailimages_tags wagtailcore_tags navigation_tags i18n wagtailsettings_tags static %}
{% get_settings %}
{% get_site_root as site_root %}

<div class="hide-for-print" data-sticky-container>
<div data-sticky data-options="marginTop:0;" style="width:100%;z-index:10000;">

	<div id="social_bar">
  		<div class="grid-container" style="max-width: 100%;">
    		{% include "contact/includes/social.html" %}
				{% comment %}
				{% include "utils/tags/navigation/account.html" %}
				{% endcomment %}
  		</div>
	</div>

	<div class="title-bar" data-responsive-toggle="menu" data-hide-for="large">
  		<button class="menu-icon" type="button" style="background: transparent;"data-toggle></button>
  		<div class="title-bar-title"><a href="{% pageurl site_root %}">{{request.site.site_name}}</a></div>
	</div>

    <div class="top-bar" id="menu">
      	<div class="top-bar-left hide-for-small-only">

        	<ul class="dropdown menu">
              <!-- Paleo Core logo/link upper left corner -->
              <li class="menu-text">
                <a href="{% pageurl site_root %}" style="padding: 0;">
                  {% image settings.pages.SiteBranding.logo width-50 %}
                </a>
              </li>
              <!-- Paleo Core title upper left corner-->
              <li class="menu-text"><a href="{% pageurl site_root %}" style="padding-left: 0;">Paleo Core</a></li>
        	</ul>
      	</div>
      	<div class="top-bar-right">
        	<ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
          		<li class="{% if calling_page.url == site_root %} is-active{% endif %}"><a href="{% pageurl site_root %}">Home</a></li>
          		{% for menuitem in menuitems %}
          			<li class="{% if menuitem.show_dropdown %}has-submenu{% endif %}">
                  <!--
                  Show the shorter SEO title in the menu. The SEO title appears as the Page Title under the
                  Promote tab in the Wagtail admin. This is also what is added as the <title> tag in the HTML header
                  and what appears in the browser tab.
                  -->
            			<a href="{% pageurl menuitem %}">{{ menuitem.seo_title }}</a>
            				{% if menuitem.show_dropdown %}
            					<ul class="submenu menu vertical" data-submenu>
            						<li class="show-for-small-only">
            							<a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            						</li>
              						{% top_menu_children parent=menuitem %}
            					</ul>
            				{% endif %}
            		</li>
            	{% endfor %}
          		<li class="has-form show-for-small-only" style="background: transparent;">
            		<form action ="{% url 'search' %}" method="get">
              			<div class="row collapse">
                			<div class="small-8 columns">
                  				<input class="field" type="text" placeholder="Search" name="q"{% if query_string %} value="{{ query_string }}"{% endif %}>
                			</div>
                			<div class="small-4 columns">
                  				<input type="submit" class="button expand" value="Search">
                			</div>
              			</div>
            		</form>
          		</li>
        	</ul>
      	</div>
    </div>

</div>
</div>
