<!-- Side Navigation -->
<div id="nav" class="vertical menu" data-magellan data-offset="80">
  <h6>{{ page.project }} Class Listing</h6>
  <nav>
    {% for group in classes %}
    {% if forloop.first %}
    <li class="is-active"><a href="#{{ group.label}}" class="active">{{ group.mapping }}</a></li>
    {% else %}
    <li><a href="#{{ group.label}}">{{ group.mapping }}</a></li>
    {% endif %}
    {% endfor %}
    <hr/>
    {% for group in subclasses %}
    <li><a href="#{{ group.label}}">{{ group.mapping }}</a></li>
    {% endfor %}
  </nav>
</div>

